# Fichiers LaTeX générés
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.lof
*.lot
*.nav
*.snm
*.vrb
*.bcf
*.run.xml
*.idx
*.ilg
*.ind

# Fichiers d'éditeur
*.swp
*.swo
*~
.DS_Store
memoire_ADS.synctex(busy)